*{
  padding: 0;
  margin: 0;
  font-family: fot-tsukubrdgothic-std, sans-serif;

  font-weight: bold;

  font-style: normal;
  color:#65655E;



}
body{
  width: 100vw;
}
header{
  text-align: center;
}

.logo{
  margin-top: 13px;
  margin-bottom: 30px;


}

/*アクティブになったエリア*/
#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
  top: 0;
  width:100%;
    height: 100vh;
}
.link{
  color: #FFF !important;
  font-size: 30px;
}
.mini{
  font-size: 20px;
}
/*丸の拡大*/
.circle-bg{
    position: fixed;
  z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #D0B87F;
    /*丸のスタート位置と形状*/
  transform: scale(0);/*scaleをはじめは0に*/
  left:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
  transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
  opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 99;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav li{
  text-align: center;
  list-style: none;
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}


/*========= ボタンのためのCSS ===============*/
.openbtn1{

  position:fixed;
  top:3vh;
  left: 10vw;
  z-index: 9999;/*ボタンを最前面に*/
  cursor: pointer;
    width: 80px;
    height:100px;
    border-radius: 5px;
    background-color: #D0B87F;
}

/*×に変化*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 20px;
    height: 5px;
    border-radius: 2px;
  background-color: #FFF;
    width: 50%;


  }
.openbtn1 p{
  text-align: center;
  margin-top: 40%;
  color:#fff;

}

.openbtn1 span:nth-of-type(1) {
  top:22px;
  display: block;

}

.openbtn1 span:nth-of-type(2) {
  top:31px;
}

.openbtn1 span:nth-of-type(3) {
  top:40px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 20px;
    left: 23px;
    transform: translateY(6px) rotate(-45deg);
    width: 45%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 32px;
    left: 23px;
    transform: translateY(-6px) rotate(45deg);
    width: 45%;
}
.openbtn1.active p{
  opacity: 0;
}

h2{
  color: #D0B87F;
  border-bottom: 4px dashed #D0B87F;
  display: inline-block;
  padding: 20px;
}
#about{
  position: relative;
  text-align: center;
  padding: 50px;
  padding-top: 70px;
  background: url(../images/bg1.png) center/cover;
  background-repeat: none;
  height: 60vh;

}

#about h2{
  margin-bottom: 13vh;
}
#about p{
  letter-spacing: 0.2em;
  line-height: 2.5em;
  font-size: 20px;
}
.about-content{
  display: flex;
  justify-content: space-around;
}
.about-content-sp{
  display: none;
}

#rule{

  position: relative;
  height: 135vh;
  padding-bottom: 50px;
  padding-top: 70px;
  text-align: center;
  background-color: #FFF5E5;
}

#ato1{
  position: absolute;
  top: 10vh;
  right:3vw;
  transform: rotate(14deg);
}
#ato2{
  position: absolute;
  top: 17vh;
  right:16vw;
  transform: rotate(14deg);
}
#ato3{
  position: absolute;
  top: 22vh;
  right:28vw;
  transform: rotate(14deg);
}
#ato4{
  position: absolute;
  top: 28vh;
  right:40vw;
  transform: rotate(14deg);
}
#ato5{
  position: absolute;
  top: 60vh;
  right:50vw;
  transform: rotate(-84deg);
}
#ato6{
  position: absolute;
  top: 90vh;
  right:48vw;
  transform: rotate(-19deg);
}
#ato7{
  position: absolute;
  top: 115vh;
  right:40vw;
  transform: rotate(-91deg);
}

#ato9{
  position: absolute;
  top: 125vh;
  right:22vw;
  transform: rotate(-91deg);
}
#ato10{
  position: absolute;
  top: 1100px;
  right:80px;
  transform: rotate(-91deg);
}

#rule h2{
  margin-bottom: 13vh;
}
.rule-contents{
  display: block;
}
.rule-contents-sp{
  display: none;
}
.rule-content{
  display: flex;
  justify-content: center;

}
.rule-content p{
  text-align-last: left;
  line-height: 3em;
  font-size: 18px;
  font-weight: normal;
  margin: auto 0;
  width: 260px;

}
.circle{
  margin: auto 0;
}
.left .circle{
  margin-left: 2vw;
}
.left p{
  margin-left: 3vw;
}
.right .circle{
  margin-right: 2vw;
}
.right p{
  margin-right: 3vw;
}
.left{
  margin-right: 45vw;
}
.right{
  margin-left: 45vw ;
}
#prepare{
  position: relative;
  padding: 50px;
  padding-top: 100px;
  text-align: center;
  background-color: #C1DEA7;
  background: url(../images/bg2.png) center/cover;
  height: 100vh;
}
#stick{
  position: absolute;
  top: 32vh;
  left: 20vw;
}
#molks{
  position: absolute;
  top: 3vh;
  left: 60vw;
}
#cloud1{
  position: absolute;
  top: -186px;
  left: 100px;
}
#cloud2{
  position: absolute;
  top: -20px;
  left: 320px;
}
#cloud3{
  position: absolute;
  top: -137px;
  left: 1160px;
}

#prepare-sp{
  display: none;
}

#prepare h2{
  border:none;
  margin-bottom: 30vh;
}
.prepare-contents{

  display: flex;
  justify-content: space-around;
}
#arrow {
  position: absolute;
  top: 33vh;
  left: 37vw;

}
.distance{
  color:#fff;
  text-align: center;

}
.prepare-contents p{

  font-weight: bold;
  font-size: 25px;
  margin-top: 14vh;
}
.prepare-content{
  background: #fff;
  width: 309px;
  height: 309px;

}
.prepare-content p{
  width: 200px;
  text-align: left;
  font-size: 20px;
  margin: 0 auto;
}
h3{
color: #D0B87F;
font-size: 28px;
margin-top: 40px;
margin-bottom: 40px;
font-weight: bold;
}

#play{
  background: url(../images/bg3.png) center/cover;
  text-align: center;
  height: 120vh ;
  padding-top: 10vh;
}
#play h2 {
  border: none;
  margin-bottom: 15vh;
}
.play-contents{
  display: flex;
  justify-content: space-around;
}
.play-content{
  position: relative;

}
.case{
  position: absolute;
  width: 115px;
  top: -100px;
  left: -30px;
}
.play-content p{
  width: 70%;
  margin: 0 auto;
  text-align-last: left;
  font-size: 20px;
  font-weight: bold;
}

.skitto-box{
  height: 27%;
}
#result{
  position: relative;
  background:url(../images/bg4.png) center/cover;
  text-align: center;
  margin-top: -15vh;
  height: 105vh;
  z-index: 10;
}

.result-contents{
  padding-top: 5vh;
  display: flex;
  justify-content: space-around;


}
.result-content{
  position: relative;
  background:#fff;
  padding: 20px;

  border-radius: 10%;
  height: 60vh;
  width: 23vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.pin{
  position: absolute;
  top: -83px;
  left: 33px;
  width: 40px;
}

.result-content p{
  font-size: 30px;
  font-weight: normal;
}
.result-content img{
  margin-top: 40px;
}
.result-content h3{
  font-size: 30px;
}
h3 span{
  font-size: 50px;
  font-weight: bold;
  color: #D0B87F;
}
.caption{
  width: 60%;
  text-align: left;
  margin: 0 auto;
}
#item{
  padding: 50px;
  text-align: center;
  background: #FFF5E5;
  position: relative;

}
#item-sp{
  display: none;
}
#tree1{
  width: 130px;
  position: absolute;
  right: 6vw;
  bottom: -30vh;
  z-index: 999;
}
#tree2{
  width: 130px;
  position: absolute;
  left: 6vw;
  bottom: -27vh;
  z-index: 999;
}
.item-contents{
  display: flex;
  justify-content: space-around;
  padding-top: 10vh;
}
.item-box img{
  border-radius: 50%;
  border: solid 1px #D0B87F ;
}
.item-box{
  height: 25vh;
  display: block;
  transition: 0.7s;

}
.item-box:hover{

-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}



.border{
  height: 20vh;
  margin-top: 2vh;

}
#item1{

  margin-left: 10vw;
}
#item2{
  margin-right: 10vw;
}
#star{
  width: 90px;
  position: absolute;
  top: 21vh;
  left: 16vw;
  z-index: 999;
}
footer{
  text-align: center;
  background:#D0B87F;
  padding: 5px 0;

}
footer p{
  color: #fff;
}
.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
@media all and (max-width:480px) {
  header{
    padding: 10px;
    text-align: center;
  }
  .openbtn1{
    display: none;
  }
  .logo{
    display: block;
    margin: 0 auto;
    width: 80vw;
    margin-bottom: 5vh;
  }
  .header-photo{
    width: 90vw;
    text-align: center;
    display: block;
    margin: 0 auto;

  }

  .about-content{
    display: none;
  }
  .about-content-sp{
    display: block;
  }
  #about{
    padding: 15px;
    background: url(../images/bg5.png) center/cover;
    background-repeat: no-repeat;
    height: 70vh;
  }
 h2{
    width: 35vw;
    text-align: center;
    margin-bottom: 3vh !important ;
  }
  h2 img{
    width: 100%;
  }
  #mol1{
    width:20vw;
    margin-right: 25vw;
  }
  #mol2{
    width: 15vw;
    margin-left: 25vw;

  }
  .about-content-sp p{
    font-size: 13px !important;

    line-height: 1em ;
  }
  .rule-contents{
  display: none;
}
.rule-content{
  margin-bottom: 0 !important;
}

.ato{
  display: none;
}

#rule{
  height: 160vh;
}
#rule h2{
  margin-bottom: 30vh !important;
}
.rule-contents-sp{
  display: block;
}
.rule-content img{
  width: 35vw;
  height: 35vw;
  margin: auto 0;
}
.rule-content p{
  font-size: 15px;
  width: 45vw;

}
.rule-content{
  margin-bottom: 10vh;
}
.left{
  margin-right:0;
}
.left p{
  margin-left: 5vw;
  font-size: 12px;
}

.right{
  margin-left: 5vw;
}
.right img{
  margin-left: 0vw;
}
.right p{
  margin-right: 4vw;
  font-size: 13px;
}
.ato{
  display: none;

}
.ato-sp{
  width: 5vw;
}
.rule-contents-sp #ato1{
  position: absolute;
  top: 25vh;
  right: 0
}
.rule-contents-sp #ato2{
  position: absolute;
  top: 33vh;
  right: 20vw
}
.rule-contents-sp #ato3{
  position: absolute;
  top: 41vh;
  right: 40vw
}
.rule-contents-sp #ato4{
  position: absolute;
  top: 52vh;
  right: 60vw
}


.ato-box{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
.ato-box2{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
.ato-box .ato-sp{
  width: 20px;
  height: 45px;
  transform: rotate(-90deg);
}
.ato-box2 .ato-sp{
  width: 20px;
  height: 45px;
  transform: rotate(11deg);
}
.rule-contents-sp #ato7{
   position: absolute;
  top: 125vh;
  right: 50vw;
   transform: rotate(0deg);

}
.rule-contents-sp #ato8{
  position: absolute;
  top: 170vh;
  right: 45vw;
  transform:rotate(-91deg);
}
.rule-contents-sp #ato9{
  position: absolute;
  top: 180vh;
  right: 20vw
}

#cloud1{
  width: 20vw;
  position: absolute;
  top: -4vh;
  left: 4vw;
}
#cloud2{
  width: 15vw;
  position: absolute;
  top: 7vh;
  left: 11vw;
}
#cloud3{
  width: 15vw;
  position: absolute;
  top: -2vh;
  left: 75vw;

}
#molks{
  position: static;
  width: 35vw;
  display: block;
  position: absolute;
  top: 95vh;
  left: 33vw;

}
#prepare{
  display: none;

}
#prepare-sp{
  display: block;
  position: relative;
  padding: 0px;

  text-align: center;
  background-color: #C1DEA7;
  background: url(../images/bg6.png) center/cover;

  height: 190vh;
}
#arrow{
  display: none;
}
#stick{
  width: 35vw;
  position: absolute;
  top: 40vh;
  left: 60vw;
  transform: rotate(10deg);
}
#arrow2{
  height: 30vh;
  position: absolute;
  left: 45vw;
  top: 60vh;
}
.distance{
  position: absolute;
  font-size: 15px;
  top: 55vh;
  left: -3vw;
}
#prepare-sp h2{
  border-bottom:none;
  margin-top: 5vh;
}
.prepare-contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prepare-content{
  width: 60vw;
  height: 60vw;
  text-align: center;
  padding: 5px;
}
.down{
  margin-top: 65vh;
}

.prepare-content h3{
  font-size: 30px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.prepare-content p{
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-left:0 !important;
  margin: 0 auto;

}
.arrow-box{
  display: flex;
  width: 100%;
}
.prepare-contents p{
  font-size: 15px;
  margin-left: 5vw;

}
#play{
  height: 260vh;
  background: url(../images/bg7.png) center/cover;
  background-position: 0 -10vh;
  padding: 0;
}
#play h2{
  margin-bottom: 20vh !important;
}
.play-contents{

  display: flex;
  flex-direction: column;
  align-items: center;

}
.play-content{
  margin-bottom: 30vh;
  width: 60vw;
  height: 40vh;

}
.play-content p{
  text-align: center;
  text-align-last: center;
}
#result{
  background: url(../images/bg8.png);
  height: 220vh;
}
#result h2{
  margin-top: 0;
}
.result-contents{
display: flex;
flex-direction: column;
align-items: center;
}
.result-content{
  width: 60vw;
  height: 50vh;
  margin: 20px;

}
.result-content h3{
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 6vh;
}
.result-content span{
  font-size: 35px;


}
.result-content img{
  margin-bottom: 5vh;
}
.caption{
  font-size: 20px !important;
  width: 100%;
  text-align: center;
}
#retry{
  width: 30vw;
}
p img{
  width: 18vw;
}
.pin{
  width: 6vw;
  position: absolute;
  top: -10vh;
  left: 3vw;

}
.result-content p{
  font-weight: bold;
}
#tree1{
  width: 15vw;
  position: absolute;
  bottom: -16vh;
  right: 5vw;
}
#tree2{
  width: 15vw;
  left: 5vw;
  bottom: -17vh;
}
#item-sp{
  display: block;
  background: #FFF5E5;
  text-align: center;
}
#item{
  display: none;
}
.item-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
}
.item-content{
  width: 60vw;
  margin: 10px;
  margin-bottom: 5vh;
}
.item-content h3{
  font-size: 20px;
  margin: 0;
  margin-bottom: 3vh;
  margin-top: 2vh;
}
#item1{
  margin-left: 0;
}
#item2{
  margin-right: 0;
}
.item-content img{
  width: 40vw;
  height: 40vw;
}
#star{
  width: 19vw;
  position: absolute;
  top:24vh;
  left: 24vw;
}
}